body {
    margin: 0;
    padding: 0;
}

a,
a:visited {
    color: #4A89DC;
}

.api-header {
    width: 100%;
    padding: 13px 40px 16px 40px;
    background: #E4EEFA;
    color: #555;
    max-height: 73px;
    height: 73px;
}

.header {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.api-content {
    contain:none !important;
}

.heoOfd {
    padding: 10px 20px 10px 0 !important
}
