/* Montserrat Light 300 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('/src/fonts/Montserrat/Montserrat-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 300;
    src: url('/src/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype')
}

/* Montserrat Regular 400 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('/src/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype')
}

/* Montserrat Bold 700 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('/src/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 700;
    src: url('/src/fonts/Montserrat/Montserrat-BoldItalic.ttf') format('truetype')
}