/* Roboto Light 300 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('/src/fonts/Roboto/Roboto-Light.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url('/src/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype')
}

/* Roboto Regular 400 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('/src/fonts/Roboto/Roboto-Regular.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url('/src/fonts/Roboto/Roboto-Italic.ttf') format('truetype')
}

/* Roboto Bold 700 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('/src/fonts/Roboto/Roboto-Bold.ttf') format('truetype')
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url('/src/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype')
}