<div class="header">
    <p>Stay up to date by <strong><a href="https://landing.sevdesk.de/api-newsletter" target="_blank">subscribing to our Newsletter</a></strong> or <strong><a href="https://tech.sevdesk.com/api_news/" target="_blank">visit our Tech-Blog</a></strong> for a detailed changelog.</p>
</div>